.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}.vc_custom_1503558899907{margin-bottom:13px!important}.vc_custom_1522826676874{margin-bottom:17px!important}.vc_custom_1499917867999{margin-left:0px!important;border-left-width:0px!important}.vc_custom_1503022172415{margin-bottom:20px!important}.vc_custom_1502964136561{margin-right:0px!important;margin-left:0px!important}.vc_custom_1502964275550{border-top-width:1px!important;padding-right:0px!important;padding-left:0px!important;border-top-color:#3c3c3c!important;border-top-style:solid!important}
.vc_custom_1503543817831{margin-bottom:0px!important}.vc_custom_1503543308453{padding-bottom:12px!important}.vc_custom_1503543124766{margin-bottom:21px!important}.vc_custom_1503543969844{margin-bottom:0px!important}.vc_custom_1503543986857{margin-bottom:0px!important;padding-bottom:30px!important}.vc_custom_1503375864350{margin-bottom:10px!important}.vc_custom_1503375687597{margin-bottom:10px!important;padding-top:16px!important;padding-bottom:16px!important;background-color:#454545!important}.vc_custom_1503543785847{margin-bottom:-5px!important}.vc_custom_1503543791990{margin-bottom:-5px!important}.vc_custom_1503543799087{margin-bottom:-5px!important}.vc_custom_1500001508335{margin-bottom:-15px!important}.vc_custom_1503894817812{margin-top:-50px!important;margin-bottom:-50px!important}.vc_custom_1503903857056{margin-bottom:13px!important}.vc_custom_1500001478660{margin-bottom:-15px!important}


.ftc-smooth-image.smooth-border-image.ftc-smooth{overflow:hidden;}
.category_overlay{background:rgba(0,0,0,0.40);/*height:50vh;*/left:0;position:absolute;top:0;width:100%;}
.category_overlay p.cat-heading{color:#fff;display:table-cell;float:left;font-size:22px;line-height:28px;margin:48% 0px 12% 0px;overflow:hidden;text-align:center;text-transform:uppercase;vertical-align:text-top;width:100%;}
.custom-logo-link img{width:85px!important;}
img.normal-logo-mobile{width:95px!important;}
span.link_content span.link_text{text-transform:uppercase!important;}
.item-image.lazy-loading a{border:1px solid #e3e3e3;}
.item-image.lazy-loading a.compare,
.item-image.lazy-loading a.quickview{border: 1px solid rgba(235,235,235,.2);border-right: 1px solid rgba(235,235,235,.2);}
.item-image .group-button-product>a i,
.woocommerce .product .conditions-box span,
.category_overlay p.cat-heading,
#to-top a.scroll-button,
.item-image .group-button-product>div a.add_to_wishlist i,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
div.ftc-countdown.text-default .counter-wrapper.days-3 div,
div.ftc-countdown.text-default .counter-wrapper.days-3 span,
.ftc-breadcrumb-title .ftc-breadcrumbs-content a,
.ftc-breadcrumb-title .ftc-breadcrumbs-content span:not(.current)
{color:#FED86F!important;}

.wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper p,
.wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper h4,
.product_title.product-name a,
.woocommerce .products .product .price del .amount,
.woocommerce-page .products .product .price del .amount
{color:#384D48!important;}


.deal-product-home a.big-sale-btn-view-more.ftc-button.ftc-button-1.small
{/*background:#6c6c6c;border-color:#e8e8e8;border-width:0px;color:#ffffff;border-radius:0;*/background:#384D48!important;border-color:#384D48;border-radius:0;border-width:0px;color:#FED86F!important;}
.deal-product-home a.big-sale-btn-view-more.ftc-button.ftc-button-1.small:hover{background:#A14A50!important;}
.pp_content_container .pp_left{float:left;overflow:hidden;width:100%;}

.container.products-page-container#products-page-container .ftc-product.product{max-width:320px}
.showcase-section .selectors.magiczoom.sm-img-list a{margin-bottom:7px}
div.ftc-breadcrumb.no-margin{margin:0px!important;}
#site-canvas{background:rgba(241,241,241,1.00);display:block;padding:50px 0 0 0;}

.min-height-at-desktop{min-height:580px;}
div#pro-detail-wrapper{display:block;float:left;overflow:hidden;padding:10px 0;width:100%;}
div#pro-detail-wrapper h1{color:#384D48;display:block;float:left;font-size:16px;line-height:24px;overflow:hidden;padding:10px 0;width:100%;}
div#pro-detail-wrapper samp{background:#A14A50;display:block;float:left;height:2px;margin:20px 0px;overflow:hidden;padding:0px;width:100%;}
div#pro-detail-wrapper .pro-code-portion{color:#384D48;display:block;float:left;font-size:14px;overflow:hidden;width:100%;}
div#pro-detail-wrapper .pro-code-portion p{display:block;float:left;margin:0px 0px 3px 0px;overflow:hidden;width:100%;}
div#pro-detail-wrapper .pro-code-portion i.fa:before{color:#A14A50;font-family:'FontAwesome';font-size:13px;font-weight:normal;}
div#pro-detail-wrapper .pro-code-portion i.fa-tick:before{content:"\f00c";}
div#pro-detail-wrapper .pro-code-portion i.fa-heart:before{content:"\f004";}
div#pro-detail-wrapper .description-portion strong{border-bottom:1px solid #A14A50;color:#A14A50;float:left;font-size:16px;margin:0 0 8px 0;padding: 1px 4px;}

div#orderform{background:#fff;border:1px solid #ebebeb;border-top:2px solid #A14A50;display:block;float:left;overflow:hidden;padding:10px;width:100%;}
#orderform h4{color:#384D48;display:block;float:left;margin:7px 0px 13px 0px;overflow:hidden;text-align:center;text-transform:uppercase;width:100%;}
#orderform form{display:block;float:left;overflow:hidden;width:100%;}
#orderform form .input{border:1px solid #eaeaea;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#000;float:left;font-size:12px;font-weight:400;letter-spacing:.7px;/*margin:0px 0px 6px 0px;*/margin:0px;max-width:100%!important;min-width:100%!important;padding:4px 8px;width:100%!important;}
div.form_validation_error_message{color:#a94442;float:left;font-size:9px;height:15px;letter-spacing:.7px;line-height:normal;margin:0px;max-width:100%!important;min-width:100%!important;padding:1px 0px 1px 4px;width:100%!important;}
#orderform form p{float:left;margin:0px 0px 5px 0px;max-width:100%!important;min-width:100%!important;width:100%!important;}
#orderform form p input{float:left;margin:6px 4px  0px 5px;}
#orderform form p span{float:left;color:#000;font-size:12px;font-weight:400;letter-spacing:.7px;margin:0px;}
#orderform form h5{background:#efefef;padding:8px;line-height:22px;letter-spacing:.9px;}
#orderform form h5 span.st{color:#A14A50;}
#orderform form h5 span.dy{color:#384D48;}
#orderform form .input.submit-btn{background:#A14A50;border:1px solid #A14A50;color:#fff;margin:10px 0px 6px 0px;padding:5px 10px;}


#orderform form .input.submit-btn:hover{background:#934046;border:1px solid #934046;}
footer#colophon{background:url('../images/tailorbg_overlay_l60.png');}
.widget-column.footer-middle .vc_custom_1502964275550{border-top-color:#FED86F!important;}
.widget-column.footer-bottom{background:transparent;}

.wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper h4,
ul.bottom-foot,
footer ul.bottom-foot a
{color:#FED86F!important;}

.wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper p,
.wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper p a
{color:#d8d8d8!important;}


.footer-bottom #ftc_footer-7 .vc_custom_1522826676874 .wpb_wrapper .wpb_text_column.wpb_content_element .wpb_wrapper p a
{color:#FED86F!important;}

@media (orientation:portrait) {
 .header-content-sticky.header-sticky{margin: 0 0 20px 0;}
}












/*************************************** Message page ***************************************/

.message-page-body{
	background:#fff;
	padding: 0px;
	margin: 0px;;
	width: 100%;
}
.message-page-body .message-page-wrapper{
	background:#fdfdfd;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 7px 8px 5px rgba(136,136,136,1);
	-moz-box-shadow: 0px 7px 8px 5px rgba(136,136,136,1);
	-ms-box-shadow: 0px 7px 8px 5px rgba(136,136,136,1);
	-o-box-shadow: 0px 7px 8px 5px rgba(136,136,136,1);
	box-shadow: 0px 7px 8px 5px rgba(136,136,136,1);
	padding: 20px;
	margin: 20px auto 20px;
	overflow: hidden;
	min-height: 200px;
	width: 94%;
	
}
.icon-line{
	color: #50AD16;
	display: block;
	float: left;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	width: 100%;
}
.icon-outer {
	width: 80px;
    height: 80px;
    border: 2px solid #50AD16;
    overflow: hidden;
    text-align: center;
    display: inherit;
    float: none;
    margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    line-height: 90px;
}
.icon-outer i{
	font-size:40px;
	font-weight: normal;
}
.d-message{
    color: #50AD16;
	display: block;
	float: left;
	font-size: 22px;
	font-weight: 700;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin: 30px 0px 10px 0px;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}
.message-heading{
    color: #A14A50;
	display: block;
	float: left;
	font-size: 26px;
	font-weight: 800;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin: 5px 0px 25px 0px;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
	line-height: normal;
}
.table-outter .row b,.table-outter .row span{
	color: #384D48!important;
	display: block;
	padding: 3px;
}
.message-page-wrapper small{
	color: #777!important;
	display: block;
	float: left;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 12px;
	overflow: hidden;
	width: 100%;
}
.message-page-back-btn-row{
	display: block;
	float: left;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	width: 100%;
}

.message-page-back-btn-row a{
    border: 1px solid #384D48;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	color: #384D48;
    display: inline-block;
    float: none;
	line-height: normal;
    margin: 10px auto 0;
	outline: none;
	text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
	padding: 16px 38px;
    width: auto;
}
.icon-flipped {
	float:left;
	font-size:26px;
	-webkit-transition: 0.6s ease-out;
	-moz-transition: 0.6s ease-out;
	-ms-transition: 0.6s ease-out;
	-o-transition: 0.6s ease-out;
	transition: 0.6s ease-out;
}

.message-page-back-btn-row a:hover{
	color: #fff;
	background-color:#384D48;
	text-decoration: none;
	outline: none;
}
.message-page-back-btn-row a:hover .icon-flipped {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  -ms-transform: rotateZ(720deg);
  -o-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

.page-heading_title{
    float: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 0 0 26px 0;
    background: url("../images/under_line.png") no-repeat bottom center;
    margin: 15px 0px 40px 0px;
}

h2.contact_us{
    color: #384D48!important;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
    float: left;
    text-transform: uppercase;
}

form#contact_us_form{
    overflow: hidden;
    float: left;
    display: block;
    width: 100%;
    margin: 0px;
}

form#contact_us_form p,form#contact_us_form label{
    color: #384D48!important;
}


form#contact_us_form p{
    margin: 0px 0px 20px 0px;
}
form#contact_us_form #contact_form_btn{
    background: #A14A50;
    border: 1px solid #A14A50;
    color: #fff;
    margin: 10px 0 0 0;
}

form#contact_us_form #contact_form_btn:hover{
    background: #934046;
    border: 1px solid #934046;
}
#orderform.contact_us_form_wrapper{
    padding: 30px 15px 5px 15px;
    min-height: 420px;
}


.cont_top_portion{
    border-bottom: 1px solid #A14A50;
}

.contact_us_form_wrapper ul{
    list-style: none;
}
.contact_us_form_wrapper ul li{
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
}

p.socal-icons-portion{
    text-align: center;
    font-size: 26px;
}
p.socal-icons-portion a{
    margin: 5px;
}

p.socal-icons-portion a i{
    margin: 5px 0px 0px 0px;
}


p.socal-icons-portion a i.fa-facebook {
    color: #3b5998;
}

p.socal-icons-portion a i.fa-twitter {
    color: #00acee;
}

p.socal-icons-portion a i.fa-instagram {
    color: #3f729b;
}

p.socal-icons-portion a i.fa-linkedin {
    color: #0077B5;
}

form#contact_us_form .form-group{
    margin: 0px;
}

.my_columns{
    margin: 20px 0px 50px 0px;
}

.my_columns div,.my_columns h1,.my_columns p,.my_columns h2{
    text-align:center;
    width:100%;
    float:left;
    display:block;
}

.my_columns h1{
    font-size:26px;
    color:#384D48!important;
    margin:20px 0;
}

.my_columns p{
    font-size:12px;
    color:#384D48!important;
    line-height:22px;
}

.my_columns h2 a{
    font-size:12px;
    color:#A14A50;
    border:1px solid #A14A50;
    padding:10px;
    width:30%;
    margin:10px auto 40px;
    display:block;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.my_columns h2 a:hover{
    background:#A14A50;
    color:#FED86F;
}



.images_div{
    overflow:hidden
    width:100%;
}

#order_image{
    background:url(../images/order.png) no-repeat;
    background-position:center center;
    border-radius:75px;
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    float:none;
    height:151px;
    margin:0 auto;
    width:151px;
}

#received_image{
    background:url(../images/received.png) no-repeat;
    background-position:center center;
    border-radius:75px;
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    float:none;
    height:151px;
    margin:0 auto;
    width:151px;
}

#payment_image{
    background:url(../images/payment.png) no-repeat;
    background-position:center center;
    border-radius:75px;
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    float:none;
    height:151px;
    margin:0 auto;
    width:151px;
}

#h_affect_image{
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
    transition:0.3s linear 0s!important;
    -webkit-transition:0.3s linear 0s!important;
    -o-transition:0.3s linear 0s!important;
}

#h_affect_image:hover{
    cursor:pointer;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    transition:0.3s linear 0s!important;
    -webkit-transition:0.3s linear 0s!important;
    -o-transition:0.3s linear 0s!important;
}
